In [2]:
import pandas as pd
import numpy as np 
import datetime as dt
df1=pd.read_csv('trip.csv',error_bad_lines=False)
df1.head()

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

### What is the average trip duration for a borrowed bicycle?

In [3]:
avg_trip_duration = df1['tripduration'].mean()
avg_trip_duration

1178.2956753399776

### Whatâ€™s the most common age of a bicycle-sharer?

In [6]:
most_common_birth_year= df1['birthyear'].value_counts().idxmax()
most_common_age_of_bycycle_sharers = 2020-most_common_birth_year
most_common_age_of_bycycle_sharers

33.0

### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [7]:
weather=pd.read_csv('weather.csv')
weather.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [12]:
def get_month(date_str):
    return int(date_str.split('/')[0])
weather['Month']=weather['Date'].apply(get_month)
weather.head(50)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Month
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.65,10,10,4,13,4,21,0.00,Rain,10
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.54,10,9,3,10,5,17,0.11,Rain,10
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.51,10,9,3,18,7,25,0.45,Rain,10
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.81,10,10,10,9,4,-,0.00,Rain,10
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.73,10,10,6,8,3,-,0.14,Rain,10
5,10/18/2014,68,64.0,59,59,57,55,90,83,68,...,29.80,10,8,2,10,4,-,0.31,Rain,10
6,10/19/2014,73,64.0,55,57,55,53,94,74,52,...,29.67,10,10,6,10,3,18,0.00,NaN,10
7,10/20/2014,66,60.0,55,57,54,50,90,78,67,...,29.69,10,10,5,12,5,-,0.44,Rain,10
8,10/21/2014,64,58.0,55,52,49,46,87,70,58,...,29.74,10,10,6,15,8,21,0.10,Rain,10
9,10/22/2014,60,58.0,57,55,53,48,88,81,67,...,29.56,10,6,2,14,8,22,1.43,Rain,10
10,10/23/2014,62,55.0,50,49,47,44,86,76,62,...,29.71,10,10,10,15,9,22,0.35,Rain,10
11,10/24/2014,60,56.0,51,50,47,44,86,75,60,...,29.74,10,10,8,8,4,-,0.13,Rain,10
12,10/25/2014,64,58.0,52,53,49,44,87,78,58,...,29.26,10,10,6,24,6,41,0.37,Rain,10
13,10/26/2014,59,52.0,48,48,44,42,86,71,62,...,29.76,10,10,10,20,12,30,0.05,Rain,10
14,10/27/2014,62,54.0,45,46,43,41,87,72,48,...,29.98,10,10,10,7,4,-,0.01,Rain,10
15,10/28/2014,62,56.0,51,54,50,45,88,80,72,...,29.84,10,8,2,14,5,-,0.34,Rain,10
16,10/29/2014,64,59.0,54,54,51,50,88,76,60,...,29.94,10,10,9,15,7,24,0.04,Rain,10
17,10/30/2014,62,58.0,55,55,53,50,88,82,75,...,29.74,10,9,2,8,2,-,0.67,Rain,10
18,10/31/2014,59,54.0,52,52,49,46,89,83,67,...,29.69,10,8,2,8,4,-,0.77,Rain,10
19,11/1/2014,55,52.0,48,48,45,42,89,78,62,...,29.84,10,10,7,6,1,-,0.00,NaN,11
20,11/2/2014,57,51.0,45,52,47,42,90,82,62,...,30.06,10,9,4,9,5,-,0.11,Rain,11
21,11/3/2014,60,58.0,55,53,51,48,84,80,75,...,30.01,10,9,3,13,8,20,0.24,Rain,11
22,11/4/2014,61,58.0,55,54,51,48,90,79,67,...,29.99,10,9,3,10,6,-,0.05,Rain,11
23,11/5/2014,61,57.0,53,55,51,48,90,79,64,...,29.96,10,10,3,7,2,-,0.27,Rain,11
24,11/6/2014,64,60.0,54,55,50,45,90,75,58,...,29.80,10,10,4,20,8,37,0.22,Rain,11
25,11/7/2014,59,52.0,45,45,43,40,86,72,53,...,30.31,10,10,10,7,3,-,0.00,NaN,11
26,11/8/2014,55,48.0,42,44,42,39,93,78,60,...,30.06,10,8,2,7,1,-,0.00,NaN,11
27,11/9/2014,57,52.0,48,50,46,43,87,80,72,...,29.82,10,9,3,12,6,16,0.29,Rain,11
28,11/10/2014,54,48.0,43,43,40,34,86,71,54,...,30.07,10,10,10,8,2,-,0.00,NaN,11
29,11/11/2014,48,42.0,36,39,18,3,80,42,20,...,30.18,10,10,10,15,5,22,0.00,NaN,11
30,11/12/2014,46,39.0,32,10,4,1,40,24,16,...,30.11,10,10,10,13,8,22,0.00,NaN,11
31,11/13/2014,48,40.0,30,19,9,2,64,30,18,...,29.97,10,10,10,12,4,22,0.00,NaN,11
32,11/14/2014,48,38.0,28,26,18,11,69,48,23,...,30.03,10,10,10,8,2,-,0.00,NaN,11
33,11/15/2014,48,38.0,27,25,18,10,75,51,21,...,30.32,10,10,10,7,1,-,0.00,NaN,11
34,11/16/2014,50,39.0,28,27,21,15,69,53,25,...,30.37,10,10,10,8,1,-,0.00,NaN,11
35,11/17/2014,52,41.0,30,29,25,22,75,60,34,...,30.19,10,10,9,8,1,-,0.00,NaN,11
36,11/18/2014,48,39.0,30,36,31,25,86,75,54,...,30.09,10,8,5,6,1,-,0.00,NaN,11
37,11/19/2014,52,44.0,36,37,34,30,86,66,48,...,29.83,10,9,5,9,2,-,0.00,Rain,11
38,11/20/2014,54,49.0,44,46,43,39,87,80,71,...,29.91,10,10,7,8,4,-,0.11,Rain,11
39,11/21/2014,55,52.0,50,48,45,41,87,79,66,...,29.31,10,8,4,18,7,33,0.67,Rain,11
40,11/22/2014,51,48.0,45,43,41,39,86,77,66,...,29.55,10,10,10,13,8,21,0.03,Rain,11
41,11/23/2014,57,50.0,44,47,42,39,82,74,57,...,30.08,10,10,5,20,10,28,0.42,Rain,11
42,11/24/2014,55,47.0,39,50,41,35,89,79,66,...,30.08,10,8,2,13,6,25,0.01,Rain,11
43,11/25/2014,60,56.0,51,54,50,46,89,83,77,...,30.10,10,6,2,17,6,29,0.33,Rain,11
44,11/26/2014,61,59.0,57,53,52,48,81,75,62,...,29.87,10,10,10,20,11,30,0.01,Rain,11
45,11/27/2014,62,58.0,55,51,49,43,81,70,52,...,29.68,10,10,6,18,12,32,0.04,Rain,11
46,11/28/2014,57,48.0,39,51,43,35,87,80,72,...,29.49,10,7,2,15,9,26,1.39,Rain,11
47,11/29/2014,42,35.0,27,36,25,10,83,67,37,...,29.54,10,9,2,17,6,30,0.06,"Rain , Snow",11
48,11/30/2014,39,33.0,27,23,21,18,78,64,47,...,30.12,10,10,10,8,2,-,0.00,NaN,11
49,12/1/2014,41,34.0,26,25,21,16,75,62,45,...,30.11,10,10,10,9,1,-,0.00,NaN,12

In [13]:
Precipitation=weather.groupby('Month')['Precipitation_In']
Precipitation.mean()

Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [15]:
Precipitation.median()

Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

### Whatâ€™s the average number of bikes at a given bike station?

In [16]:
station = pd.read_csv('station.csv')
station.head()

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

In [18]:
# all=station[station['decommission_date'].isnull()]
# z=all.mean()
# #the average number of bikes at a given bike station
# verage_number=z.current_dockcount
# verage_number
avg_bike_number = station['current_dockcount'].mean()
avg_bike_number

16.517241379310345

### When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

In [23]:
win_or_lose=station[['modification_date','install_dockcount','current_dockcount']].dropna()
win_or_lose['current_dockcount'].sum()-station['install_dockcount'].sum()

-64

In [ ]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, None)
    assert_equal(most_common_platform, None)
    assert_equal(most_common_genre, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, None)
    assert_equal(na_median_sales, None)
    assert_equal(ten_median_na_seller_names, None)

    print("Success!!!")

test()

> was assisted by mais jamil